body {
  overflow-x: hidden;
}
/*header pagina principal*/


.Title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  color: #000000;
}
.Parrafo {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.button_form {
  width: 310px !important;
  height: 73px;
  background: #42b3b1;
  border-radius: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #8a2666;
}
.input_form {
  width: 866px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}
.input_form_message {
  width: 866px;
  height: 249px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}
.input_form_message::placeholder {
  padding-top: 10px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #737373;
}
.input_form::placeholder {
    font-family: "Urbanist";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #737373;
  }
@media (max-width:640px){
  .Title{
    font-size: 20px;
    line-height: 30px;
  }
  .Parrafo {
    font-size: 14px;
    line-height: 20px;
  }
  .input_form {
    width: 866px;
    height:40px;
  
  }
  .input_form_message {
    width: 866px;
    height: 149px;
  }
  .button_form {
    width: 180px !important;
    height: 45px;
  }
}