body {
  overflow-x: hidden;
}
/*Footer*/
.main__footer {
  background-color: #d7dc74;
}

/*footer menu*/
.footer__menu h4 {
  margin-left: 2.5em;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.nav__menu li a {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0a142f;
  opacity: 0.7;
  text-decoration: none;
}

.footer__nav ul {
  list-style: none;
}
.footer__nav li {
  padding: 0.5em;
  font-family: "Urbanist", sans-serif;
  font-size: 1em;
}
/*footer info*/
.footer__info {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
}
.footer__info p {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  opacity: 0.9;
  margin-bottom: 3em;
}

.footer__info img{
  width: 20px;
}
.redes__sociales a {
  text-decoration: none;
}
.redes__sociales img {
  max-width: 30px;
}
.footer_content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}

/*Boton Whatsapp*/
.button_whatsapp_main {
  position: fixed;
  bottom: 0px;
  right: 20px;
}
.button_whatsapp_main a {
  text-decoration: none;
}


@media (max-width:640px){
  .imgWhatsappText{
    width: 100px;
  }
  .imgWhatsapp{
    width: 40px;
  }
  .button_whatsapp_main{
    bottom: 0px;
    right: 10px;
  }
  .footer__logo img{
    width: 150px;
  }
  .footer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}