body {
  overflow-x: hidden;
}
.introduction__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
}
.introduction__description {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: justify;
}

.seccion__nosotros_title {
  background: #c5e3e9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 0px 0px 0px;
  width: 991px;
  height: 127px;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 2px;
  color: #000000;
}

.nosotros_puntos div img {
  width: 251px;
  height: 246px;
  z-index: -1;
}
.nosotros_puntos_img-2 {
  top: 50px;
  left: 65em;
}
@media (max-width: 640px) {
  main{
    width: 100%;
    overflow-x: hidden;
  }
  .seccion__nosotros_title {
    width: 100%;
    line-height: 16px;
    font-size: 18px;
  }
  .nosotros_boxImg {
    height: 230px !important;
    width: 185px !important;
    border-radius: 20px;
  }
  .button_center {
    width: 100px;
    height: 73px;
  }
}

.nosotros_box {
  bottom: 30px;
  right: 50px;
}
.nosotros_box img {
  object-fit: cover;
  height: 401px;
  width: 250px;
  border-radius: 20px;
}
.nosotros_box_text-2 {
  width: 264px;
  height: 170px;
  background: #f7ee96;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: "Urbanist";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.nosotros_box_text p {
  font-family: "Urbanist";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.nosotros_descripcion p {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/*header pagina principal*/

.title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
}
.subtitle {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
}
.button_center {
  float: right;
  width: 250px;
  height: 73px;
  background-color: #42b3b1;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
.button_center:hover {
  transition: 0.31s ease-out;
  background-color: #d7dc74;
}

.text_button {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #8a2666;
  text-decoration: none;
}
.redes__sociales_main img {
  width: 55px;
}
