
/*header pagina principal*/

.Title_header {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
}
.Title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}
.Description {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
.peli-box {
  width: 1046px;
  height: 84px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.peli-box-color1{
    background: #c5e3e9;
}
.peli-box-color2{
    background: #BF8DAD;
}
.peli-box-color3{
    background: #D7DC74;
}

.peli-img img {
  object-fit: cover;
  width: 599px;
  height: 315px;
  border-radius: 20px;
  bottom: 60px;
}
@media (max-width:640px){
  .peli-img img{
    width: 300px;
    height: 157px;
  }
  .Title {
    font-size: 24px;
    line-height: 33px;
  }
  .Description {
    font-size: 15px;
    line-height: 18px;
  }
}
