body {
  overflow-x: hidden;
}
/*header pagina principal*/

.title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
}
.subtitle {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
}
.button_center {
  width: 310px;
  height: 106px;
  background-color: #42b3b1;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
.button_center:hover{
    transition: .31s ease-out;
    background-color: #D7DC74;
}

.text_button {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #8a2666;
  text-decoration: none;
}


@media (max-width:640px){
.title {
  font-size: 20px;
  line-height: 30px;
}
.subtitle {
  font-size: 14px;
  line-height: 20px;
}
  .button_center {
    width: 150px;
    height: 50px;
  }
  .text_button {
    font-size: 14px;
    line-height:20px;
  }
}
