
/*header pagina principal*/

.introduction__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
}
.introduction__description {
  font-family: "Urbanist";
  font-style: normal;

  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  width: 90%;

  text-align: justify;
}

.seccion__nosotros_title {
  background: #c5e3e9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 0px 0px 0px;
  width: 829px;
  height: 137px;
}
.seccion__nosotros_title :first-child {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 2px;
  color: #000000;
}
.seccion__nosotros_title :nth-child(2n) {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}
.nosotros_puntos div img{
  width: 251px;
height: 246px;
z-index: -1;
}
.nosotros_puntos_img-2{
  top: 50px;
  left: 65em;
}

.nosotros_box {
  bottom:120px;
}
.nosotros_box_text {
  width: 264px;
  height: 80px;
  background: #f7ee96;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.nosotros_box_text-2 {
  width: 264px;
  height: 170px;
  background: #f7ee96;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-family: "Urbanist";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}
.nosotros_box_text p {
  font-family: "Urbanist";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.nosotros_descripcion p {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}  
.text_final{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #000000;
  }
  @media (max-width:1000px){
    .nosotros_puntos{
      display:none;
      visibility: hidden;
    }
  }

  @media (max-width:767px){
    .introduction__title {
      font-size: 22px;
      line-height: 25px;
    }
    .introduction__description {
      font-size: 14px;
      line-height: 18px;
    }
    .seccion__nosotros_title {
      width: 110%;
      height: 120px;
    }
    .nosotros_box{
      height: 120px;
    }
    .nosotros_box img{
      width: 140px;
      top: 100px;
      right: 20px;
    }
    .seccion__nosotros_title :first-child {
      font-size: 18px;
      line-height: 2px;
    }
    .seccion__nosotros_title :nth-child(2n) {
      font-size:14px;
      line-height: 20px;
    }
    .nosotros_box_text{
      left: 100px;
      width: 150px;
      z-index: -1;
    }
    .nosotros_descripcion p {
      font-size: 10px;
      line-height: 15px;
    }  
    .nosotros_box_text-2{
      top: 90px;
      z-index: -1;
      right: 10px;
    }
    .nosotros_box2{
      height: 260px;
    }
    .nosotros_box_img{
      width: 140px;
    }
    .text_final{
      font-size: 20px;
      }
  }