body {
  overflow-x: hidden;
}
/*---------------------------------header pagina principal*/

.main__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.flecha {
  margin-left: 3rem;

}

.header__logo img {
  width: 200px;
}

.header__logo img:hover {
  transform: scale(1.1);
}
.menu__principal__p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 1rem;
  color: #42b3b1;
}

/*-------------------------------------------SECCIONES*/
.main__page {
margin-top: 45px;
  height: 20rem;
}

.secciones__info a {
  text-decoration: none;
  width: 200px;
}
.secciones__title{
  font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #8A2666;
}
.secciones__img {
  width: 136px;
  height: 167px;
  fill: #42b3b1;
}
.secciones__img :hover {
  transition: 0.15s ease-out;
  padding: 0;
  margin: 0;
}
.secciones__info :hover {
  transition: 0.15s ease-out;
  fill: #d7dc74;
  transform: scale(1.1);
}

/*---------------------------------------------------------slide*/
.section__slides {
  
  width: 80%;
}
.slide__uppercase {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  color: #42b3b1;
}
.slide__p {
  font-family: "Urbanist";
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #737373;
}

.secciones_content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width:640px){
  .header__logo img {
    width: 150px;
  }
  .secciones__info a{
    width: 100px;
  }
  .secciones__title{
    font-size: 14px;
    line-height: 20px;
  }
  .secciones__img{
    
    height: 120px;
  }
  .slide__uppercase {
    font-size:25px;
    line-height: 40px;
  }
  .slide__p {
    font-size: 13px;
    line-height: 20px;

  }
  .secciones_content{
   width: 60%;

   margin-left: 18%;
  }
  .imgWhatsappText{
    width: 100px;
  }
  .imgWhatsapp{
    width: 40px;
  }
  .button_whatsapp_main{
    bottom: 0px;
    right: 0px;
  }
  .footer__logo img{
    width: 150px;
  }
  .footer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
